{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=kuyeselaUserDb;Username=admin;Password=yourpassword"
  },
  "JwtSettings": {
    "Secret": "YOUR_SECRET_KEY",
    "Issuer": "KuyeselaUserManagementService",
    "Audience": "KuyeselaUserManagementClients",
    "ExpiryMinutes": 60
  }
}
